[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false
ffi = false
fuzz = { runs = 256 }
invariant = { runs = 256 }

[profile.default.fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "attributes_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
arbitrum_sepolia = "${RPC_URL}"

[etherscan]
arbitrum_sepolia = { key = "${ETHERSCAN_API_KEY}" }
